node_modules
dist
.env
.env.local
*.p8
.DS_Store
coverage
release
dist-electron
android/app/build
android/.gradle
android/build
android/local.properties
android/capacitor-cordova-android-plugins/build
assets/
*.tsbuildinfo
